.form-label {
  padding: 5px 10px 5px 10px;
  width: 30%;
}
.form-input {
  width: 70%;
}

.form-checkbox {
  width: 10%;
}

.button-box {
  display: flex;
}

.custom-button-left {
  display: flex;
  justify-content:start;
  bottom: 5px;
  left: 5px;
  width: 100%;
}

.custom-button-right {
  display: flex;
  justify-content:end;
  bottom: 5px;
  right: 5px;
  width: 100%;
}
