
.name-header {
  display: inherit;
  margin-left: 10px;
  margin-right: 20px;
}

.custom-navbar-container {
  position: sticky;
  z-index: 2;
  top: 0;
}

.navbar-tabs {
  width: 100%;
  display: inline-flex;
}

.text-white {
  color: white;
}
