.book-row-custom-button-left {
  position:absolute;
  bottom: 5px;
  left: 5px;
  width: 40%;
}

.book-row-custom-button-right {
  position:absolute;
  bottom: 5px;
  right: 5px;
  width: 40%;
}

.book-row-actions {
  background-color: lightgrey;
}

.book-unavailable {
  color: red;
}
